$blue-color: #039dff

*, *::after, *::before
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

body
    font-family: 'Montserrat', sans-serif
    background-color: #333333

.blue-text
    color: $blue-color

.wrapper
    width: 80%
    margin: 0 auto

    h2
        text-transform: uppercase
        text-align: center

.underline
    margin: 0 auto 40px
    width: 60px
    height: 4px
    background-color: $blue-color

.scroll-fix::before // trick na navbar, żeby nie nachodził na sekcję
    content: ''
    display: block
    height: 66px
    margin-top: -66px

// NAVIGATION
nav
    text-transform: uppercase
    transition: background-color .6s

    a, i
        color: #ffffff
        transition: color .3s

    a:hover
        color: $blue-color

    i
        padding: 10px

    .navbar-brand
        font-weight: bold

    .active
        color: $blue-color

.shadow-bg
    background-color: rgba(0, 0, 0, .8)
// HEADER
header
    color: #ffffff
    overflow: hidden

    h1
        padding: 10px
        text-transform: uppercase
        font-size: 28px

    .hero-img
        position: relative
        height: 100vh
        background-image: url('../img/hero-small.jpg')
        background-position: center
        background-size: cover
        background-attachment: fixed
        z-index: 0

    .hero-shadow
        position: absolute
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .8)
        z-index: -10

    .hero-text
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 100%
        text-align: center

        p
            padding: 10px
            font-size: 14px

    .btn-outline-light
        text-transform: uppercase

    .fa-chevron-down
        display: none

@media ( min-width: 375px )
    header
        h1
            font-size: 36px
        .hero-text
            p
                font-size: 16px

@media ( max-width: 350px )
    nav
        .navbar-brand
            font-size: 16px

// MAIN 
#aboutus
    i
        margin-top: 20px
        font-size: 30px
    h3
        font-size: 18px
        text-transform: uppercase
        font-weight: bold

    .aboutus-hover
        transition: color .3s
        visibility: hidden

    .aboutus-hover:hover
        color: $blue-color
